*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
#header{
    width: 100%;
    height: 11vh;
    color: rgb(82, 80, 80);
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    display: flex
}

#header h3{
    box-sizing: border-box;
    line-height: 11vh;
    font-size: 1.7vw;
    font-weight: lighter;
    width: 70%;
    padding-left: 10vw;
    align-items: baseline;
}
.header-button{
    float: right;
    margin-right: 20px;
    height: 50px;
    /* width: 100px; */
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border:none;
    outline: none;
    background-color: #750909;
    color: white;
    font-size: 20px;
}
.logout{
    margin-right: 100px;
}
#header img{
    height: 10vh;
    box-sizing: border-box;
    
    padding-right: 10vw;
    margin-top: 10px;
}

#content{
    width: 80%;
    height: 80vh;
    border: 1px solid #cacaca;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin: auto;
}

.status{
    margin-bottom: 10px;
    /* float: right; */
    padding-left: 80%;
}
.status ul{
    margin-left: 80%;
    font-size: 15px;
    padding: 5px 10px;
}
.status ul li{
    height: 25px;
}

#content-header{
    width: 100%;
    height: 6.5vh;
    background-color: #449d44;
    color: white;
    border-radius: 20px 20px 0 0;
    display: flex;
    font-size: 2.5vh;
}

#content-header div{
    text-align: center;
    height: inherit;
    line-height: 6.5vh;
    /* border: 1px solid red; */
}
#content-header div{
    width: 16%;
}
#content-header div:nth-child(2){
    width: 40%;
}

.reply-button{
    width: 8%;
    height: 35px;
    margin-right: 20px;
    align-self: center;
}
.query-container{
    width: 100%;
    height: 73.5vh;
    overflow-y: scroll;
    /* background-color: red; */
    border-radius: 0 0 20px 20px;
}

.query-container::-webkit-scrollbar {
    display: none;
  }


  .query{
    width: 100%;
    height: 7vh;
    display: flex;
    font-size: 2.5vh;
    cursor: pointer;
}

.query div{
    text-align: center;
    height: inherit;
    line-height: 6.5vh;
    /* border: 1px solid red; */
}
.query div{
    width: 16%;
}
.query div:nth-child(2){
    /* border: 1px solid red; */
    width: 40%;
    /* text-align: left; */
    /* padding-left: 20px; */
}

.query .sent{
    background-image: url("../resources/tick.svg");
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 8%;
    /* border: 1px solid red; */
    /* margin-right: 20px; */
}

.query:nth-child(even){
    background-color: rgb(235, 233, 235);
}



.popup{
    margin: 10px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    width: 50%;
    min-height: 100px;
    background-color: #eee;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(82, 80, 80);
    font-size: 25px;
    display: none;
}
.popup img{
    float: right;
    margin: -8px -8px 0 0;
}
.popup button{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}
.textbox{
    width: 90%;
    height: 35px;
    margin-top: 20px;
    font-size: 22px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #999;
    padding-left: 10px;
    outline: none;
}

.textbox::-webkit-scrollbar{
    display: none;
}
.error{
    color: #dc3545;
    font-size: 12px;
}
.yes{
    background-color: #28a745;
}
.no{
    background-color: #dc3545;
    margin-left: 20px;
}
.active{
    background-color: #28a745;
    color: white;
}
