*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
#header{
    width: 100%;
    height: 11vh;
    color: rgb(82, 80, 80);
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    display: flex
}

#header h3{
    box-sizing: border-box;
    line-height: 11vh;
    font-size: 1.7vw;
    font-weight: lighter;
    width: 70%;
    padding-left: 10vw;
    align-items: baseline;
}
.header-button{
    float: right;
    margin-right: 20px;
    height: 60%;
    /* width: 100px; */
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 20px;
    border:none;
    outline: none;
    background-color: #750909;
    color: white;
    font-size: 20px;
}
.logout{
    margin-right: 100px;
}
#header img{
    height: 10vh;
    box-sizing: border-box;
    
    padding-right: 10vw;
    margin-top: 10px;
}

#content{
    width: 80%;
    height: 80vh;
    border: 1px solid #cacaca;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin: auto;
}

.status{
    margin-bottom: 10px;
    /* float: right; */
    padding-left: 80%;
}
.status ul{
    margin-left: 90%;
    font-size: 15px;
    padding: 5px 10px;
}
.status ul li{
    height: 25px;
}

#content-header{
    width: 100%;
    height: 6vh;
    background-color: #449d44;
    color: white;
    border-radius: 20px 20px 0 0;
    display: flex;
    font-size: 1.3vw;
}

#content-header div{
    text-align: center;
    height: inherit;
    line-height: 6.5vh;
    /* border: 1px solid red; */
}
#content-header div{
    width: 15%;
}
#content-header div:first-child{
    width: 4%;
}
#content-header div:nth-child(3){
    width: 38%;
}
#content-header div:nth-child(4){
    width: 5%;
}

.reply-button{
    width: 6%;
    height: 30px;
    /* margin-right: 20px; */
    align-self: center;
}
.query-container{
    width: 100%;
    height: 73.5vh;
    overflow-y: scroll;
    /* background-color: red; */
    border-radius: 0 0 20px 20px;
}

.query-container::-webkit-scrollbar {
    display: none;
  }


  .query{
    width: 100%;
    height: 6vh;
    display: flex;
    font-size: 1.3vw;
    cursor: default;
}

.query div{
    text-align: center;
    height: inherit;
    box-sizing: border-box;
    line-height: 6.5vh;
    border: 1px solid transparent;
}
.query div{
    width: 15%;
}
.query div:first-child{
    width: 4%;
    align-content: center;
    padding-left: 5px;
}
.query div:nth-child(3){
    /* border: 1px solid red; */
    width: 39%;
    /* text-align: left; */
    /* padding-left: 20px; */
}
.query div:nth-child(4){
    box-sizing: border-box;
    width: 5%;
    line-height: normal;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.query .sent{
    background-image: url("../resources/tick.svg");
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 6%;
    /* border: 1px solid red; */
    /* margin-right: 20px; */
}

.query:nth-child(even){
    background-color: rgb(235, 233, 235);
}



.popup{
    margin: 10px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    width: 50%;
    min-height: 100px;
    background-color: #eee;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(82, 80, 80);
    font-size: 25px;
    display: none;
}
.popup img{
    float: right;
    margin: -8px -8px 0 0;
}
.popup button{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}
.textbox{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 35px;
    max-height: 90px;
    margin-top: 20px;
    font-size: 18px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #999;
    padding-left: 10px;
    outline: none;
}
#similar{
    width: 100%;
    max-height: 150px;
    background-color: white;
    font-size: 1.5vw;
    overflow: scroll;
    margin: 10px 0;
    /* padding: 0px 10px; */
}

#no-similar{
    width: 100%;
    position: relative;
    line-height: 150px;
    float: left;
    text-align: center;
    z-index: 10;
    opacity: 1;
    display: none;
    font-size: 2em;
    color: #f80202;
}
.similar-header{
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.similar-header h4{
    float: left;
    padding-left: 10px;
}

.similar-header span{
    font-size: 14px;
}

.similar-header div{
    float: right;
    color: red;
    margin-right: 2.8%;
}
.similar-header div input{
    width: 1.2vw;
    height: 1.2vw; float: right;
    margin-top: 12px;
    margin-left: 10px;
}
#similar img{
    width: 100%;
    height: 100px;
    position: relative;
    opacity: 0.6;
    display: none;
    margin-top: -130px;
    /* text-align: center; */
    /* float: left; */
}
#similar::-webkit-scrollbar {
  display: none;

}

#similar ul {
    list-style-type: none;
}
#similar ul li{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    /* justify-content: center; */
    /* height: 40px; */
    /* border: 1px solid red; */
}
#similar ul li:nth-child(even){
    background-color: #fafafa;
}

#similar ul li input{
    margin-top: 7px;
    width: 1.2vw;
    height: 1.2vw;
}
#similar ul li span{
    width: 96%;
}

.textbox::-webkit-scrollbar{
    display: none;
}
.error{
    color: #dc3545;
    font-size: 12px;
}
.yes{
    background-color: #28a745;
}
.no{
    background-color: #dc3545;
    margin-left: 20px;
}
.active{
    background-color: #28a745;
    color: white;
}
.optionbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0px 10%;
}
.reply-to-all{
    /* margin-left: 20; */
    height: 35px;
    line-height: 35px;
}

/* .reply-to-all:disabled{
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
    color: white;
} */

.round input{
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    background-color: white;
}
.view img{
    height: 1.7vw;
    /* border: 1px solid green; */
}


